body{
    text-align: center;
}
header,section{
    background-color:#eeeeee;
}
h2{
    font-size: large;
}
li{
    font-size: small;
}
span{
    font-weight: bold;
}
ul{
   text-align: left; 
   width: 30em;
   margin-left: auto;
   margin-right: auto;
   
}
li{
    margin-bottom: 1em;
}
