body{
    text-align: center;
    background-color: #eeeeee;
}
h1{
    font-size:3em;
}
h2{
    font-size: large;
}
li{
    font-size: small;
}
span{
    font-weight: bold;
}
ul{
   text-align: left; 
   width: 30em;
   margin: auto; 
}
li{
    margin-bottom: 1em;
}
figure{
    background-color: white;
}
p.quote{
    width: 30em;
    margin: auto;
    font-size: small;
    margin-bottom: 1em;

}